[mysqld1]
user                    = mysql
pid-file                = /run/mysqld/mysqld1.pid
socket                  = /run/mysqld/mysqld1.sock
basedir                 = /usr
datadir                 = /var/lib/mysql1
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
bind-address            = 127.0.0.1
query_cache_size        = 16M
log_error               = /var/log/mysql/mysqld1_error.log
expire_logs_days        = 10
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
port                    = 20101